.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: rgb(227, 227, 227);

  .app-bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    .left-container {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .right-container {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}