.Fretboard {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	min-height: 1080px;

	.fretboard-grid {
    display: inherit;
    margin-top: 1rem;
	}

	.scale-selector {
    display: inherit;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: flex-start;
	}
}
