.Unauthorized {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1rem;
  justify-content: flex-start;
  min-height: 100vh;

  .text-group {
    display: inherit;
    flex-direction: row;
    justify-content: center;
  }

  .button-group {
    margin-top: 1rem;
    display: inherit;
    flex-direction: row;
    justify-content: center;
  }
}